#lit-promotional-container {
  /* border: 2px solid #757575; */
  /* border-style: solid;
  border-width: 2px; */
  cursor: pointer;
}

.discount-container {
  padding: 0.5rem 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.redeem-text {
  margin-top: 0.3rem;
  margin-bottom: 0.5rem;
  cursor: pointer;
  text-align: center;
}

.redeem-button {
  border: none;
  /* background-color: white; */
  background-color: transparent;
  margin-bottom: 0.7rem;
  /* color: #2c0c72; */
  cursor: pointer;
  text-align: center;
}
