.centerSpinner {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 300px;
  flex-direction: column;
}

.createDraftOrderContainer {
  margin-top: 1.6rem;
  padding: 2rem;
  outline: 0.1rem solid transparent;
  box-shadow: var(--p-card-shadow);
  background-color: var(--p-surface);
  border-radius: 0.8rem;
}

.createDraftOrderButton {
  width: 90%;
}

.infoBox {
  display: flex;
  flex-direction: column;
  // padding: 1rem;
  margin-top: 1.6rem;
}

.instructionToggle {
  display: flex;
  flex-direction: column;
}

.documentationLink {
  text-decoration: none;
}
