.lsm-reusable-select-button {
  width: 100%;
  height: 3em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
.lsm-reusable-select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.25em;
  z-index: 100;
  box-sizing: border-box;
}
.lsm-reusable-select-title {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  box-sizing: border-box;
}
.lsm-reusable-select-option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.lsm-reusable-select-option {
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  border-style: solid;
  padding: 0.75em;
  margin-right: 1em;
  margin-top: 1em;
  cursor: pointer;
  transition-duration: 0.2s;
}
.lsm-lit-footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  height: 4em;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
}
.lsm-back-button {
  height: 3em;
  padding: 0 1.5em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.lsm-next-button {
  height: 3em;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}
.lsm-lit-input-container {
  box-sizing: border-box;
}
.lsm-lit-input {
  height: 2.7em;
  width: 100%;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.lsm-input-error {
  margin: 0.25em 0 0;
  transition: 0.3s all;
  min-height: 1.25em;
}
.lsm-token-select-button,
.lsm-token-clear-select-button {
  height: 2.5em;
  border-width: 1px;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}
.lsm-token-select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  top: 0;
  left: 0;
  z-index: 20;
}
.lsm-token-select-header {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  box-sizing: border-box;
}
.lsm-top-tokens-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.lsm-top-token-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
}
.lsm-token-select-dropdown-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.lsm-token-select-dropdown {
  margin-top: 0.4em;
}
.lsm-token-select__control {
  height: 2.7em;
  width: 100%;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
}
.lsm-dropdown-menu {
  display: block;
  list-style-type: none;
  position: absolute;
  width: 100%;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin-top: 0;
}
.lsm-dropdown-item {
  width: calc(100% - 1.5em);
  margin: 0;
  padding: 0.75em;
  text-align: left;
}
.lsm-header-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  border-radius: 0.25em 0.25em 0 0;
  box-sizing: border-box;
}
.lsm-header-text {
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.lsm-confirmation-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.lsm-confirmation-modal {
  max-width: 70%;
  height: auto;
  border-width: 1px;
  border-radius: 0.25em;
  z-index: 30;
  padding: 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lsm-condition-organizer-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1em;
  width: calc(100% - 2em);
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.25em;
  box-sizing: border-box;
}
.lsm-define-condition-button {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  padding: 1em;
  cursor: pointer;
}
.lsm-multiple-condition-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.25em;
  box-sizing: border-box;
}
.lsm-humanized-condition-text-container {
  display: flex;
  width: 100%;
  padding-left: 1em;
  box-sizing: border-box;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;
}
*,
:before,
:after {
  --tw-translate-x: 0;
  --tw-translate-y: 0;
  --tw-rotate: 0;
  --tw-skew-x: 0;
  --tw-skew-y: 0;
  --tw-scale-x: 1;
  --tw-scale-y: 1;
  --tw-pan-x: ;
  --tw-pan-y: ;
  --tw-pinch-zoom: ;
  --tw-scroll-snap-strictness: proximity;
  --tw-ordinal: ;
  --tw-slashed-zero: ;
  --tw-numeric-figure: ;
  --tw-numeric-spacing: ;
  --tw-numeric-fraction: ;
  --tw-ring-inset: ;
  --tw-ring-offset-width: 0px;
  --tw-ring-offset-color: #fff;
  --tw-ring-color: rgb(59 130 246 / 0.5);
  --tw-ring-offset-shadow: 0 0 #0000;
  --tw-ring-shadow: 0 0 #0000;
  --tw-shadow: 0 0 #0000;
  --tw-shadow-colored: 0 0 #0000;
  --tw-blur: ;
  --tw-brightness: ;
  --tw-contrast: ;
  --tw-grayscale: ;
  --tw-hue-rotate: ;
  --tw-invert: ;
  --tw-saturate: ;
  --tw-sepia: ;
  --tw-drop-shadow: ;
  --tw-backdrop-blur: ;
  --tw-backdrop-brightness: ;
  --tw-backdrop-contrast: ;
  --tw-backdrop-grayscale: ;
  --tw-backdrop-hue-rotate: ;
  --tw-backdrop-invert: ;
  --tw-backdrop-opacity: ;
  --tw-backdrop-saturate: ;
  --tw-backdrop-sepia: ;
}
.lsm-fixed {
  position: fixed;
}
.lsm-absolute {
  position: absolute;
}
.lsm-relative {
  position: relative;
}
.lsm-bottom-0 {
  bottom: 0px;
}
.lsm-top-0 {
  top: 0px;
}
.lsm-left-0 {
  left: 0px;
}
.lsm-mx-auto {
  margin-left: auto;
  margin-right: auto;
}
.lsm-my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
.lsm-my-1 {
  margin-top: 0.25em;
  margin-bottom: 0.25em;
}
.lsm-my-4 {
  margin-top: 1em;
  margin-bottom: 1em;
}
.lsm-mx-4 {
  margin-left: 1em;
  margin-right: 1em;
}
.lsm-my-2 {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}
.lsm-mt-8 {
  margin-top: 2em;
}
.lsm-mb-4 {
  margin-bottom: 1em;
}
.lsm-ml-4 {
  margin-left: 1em;
}
.lsm-mt-6 {
  margin-top: 1.5em;
}
.lsm-mt-4 {
  margin-top: 1em;
}
.lsm-mb-2 {
  margin-bottom: 0.5em;
}
.lsm-mt-2 {
  margin-top: 0.5em;
}
.lsm-ml-2 {
  margin-left: 0.5em;
}
.lsm-mr-4 {
  margin-right: 1em;
}
.lsm-mt-0 {
  margin-top: 0;
}
.lsm-mr-2 {
  margin-right: 0.5em;
}
.lsm-mb-20 {
  margin-bottom: 5em;
}
.lsm-mr-1 {
  margin-right: 0.25em;
}
.lsm-mr-8 {
  margin-right: 2em;
}
.lsm-mr-16 {
  margin-right: 4em;
}
.lsm-mt-20 {
  margin-top: 5em;
}
.lsm-ml-1 {
  margin-left: 0.25em;
}
.lsm-mr-3 {
  margin-right: 0.75em;
}
.lsm-block {
  display: block;
}
.lsm-flex {
  display: flex;
}
.lsm-hidden {
  display: none;
}
.lsm-h-4 {
  height: 1em;
}
.lsm-h-full {
  height: 100%;
}
.lsm-h-12 {
  height: 3em;
}
.lsm-h-16 {
  height: 4em;
}
.lsm-h-auto {
  height: auto;
}
.lsm-h-28 {
  height: 7em;
}
.lsm-h-6 {
  height: 1.5em;
}
.lsm-h-8 {
  height: 2em;
}
.lsm-h-3 {
  height: 0.75em;
}
.lsm-w-6\/12 {
  width: 50%;
}
.lsm-w-full {
  width: 100%;
}
.lsm-w-9\/12 {
  width: 75%;
}
.lsm-w-16 {
  width: 4em;
}
.lsm-w-4 {
  width: 1em;
}
.lsm-w-8\/12 {
  width: 66.666667%;
}
.lsm-w-20 {
  width: 5em;
}
.lsm-w-11\/12 {
  width: 91.666667%;
}
.lsm-w-6 {
  width: 1.5em;
}
.lsm-w-8 {
  width: 2em;
}
.lsm-cursor-pointer {
  cursor: pointer;
}
.lsm-select-none {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.lsm-flex-row {
  flex-direction: row;
}
.lsm-flex-col {
  flex-direction: column;
}
.lsm-flex-wrap {
  flex-wrap: wrap;
}
.lsm-items-center {
  align-items: center;
}
.lsm-justify-start {
  justify-content: flex-start;
}
.lsm-justify-center {
  justify-content: center;
}
.lsm-justify-between {
  justify-content: space-between;
}
.lsm-justify-around {
  justify-content: space-around;
}
.lsm-overflow-auto {
  overflow: auto;
}
.lsm-overflow-scroll {
  overflow: scroll;
}
.lsm-rounded {
  border-radius: 0.25em;
}
.lsm-border-2 {
  border-width: 2px;
}
.lsm-border-b {
  border-bottom-width: 1px;
}
.lsm-border-none {
  border-style: none;
}
.lsm-border-gray-4 {
  --tw-border-opacity: 1;
  border-color: rgb(236 236 236 / var(--tw-border-opacity));
}
.lsm-border-black {
  --tw-border-opacity: 1;
  border-color: rgb(0 0 0 / var(--tw-border-opacity));
}
.lsm-border-gray-5 {
  --tw-border-opacity: 1;
  border-color: rgb(150 150 150 / var(--tw-border-opacity));
}
.lsm-border-gray-2 {
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
}
.lsm-border-gray {
  --tw-border-opacity: 1;
  border-color: rgb(212 212 212 / var(--tw-border-opacity));
}
.lsm-bg-white {
  --tw-bg-opacity: 1;
  background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}
.lsm-bg-gray-light {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.lsm-bg-gray-4 {
  --tw-bg-opacity: 1;
  background-color: rgb(236 236 236 / var(--tw-bg-opacity));
}
.lsm-bg-light-modal-overlay {
  background-color: #0000004d;
}
.lsm-bg-initial-blue {
  --tw-bg-opacity: 1;
  background-color: rgb(36 78 112 / var(--tw-bg-opacity));
}
.lsm-bg-transparent {
  background-color: #0000;
}
.lsm-bg-gray-2 {
  --tw-bg-opacity: 1;
  background-color: rgb(245 245 245 / var(--tw-bg-opacity));
}
.lsm-bg-contain {
  background-size: contain;
}
.lsm-bg-center {
  background-position: center;
}
.lsm-bg-no-repeat {
  background-repeat: no-repeat;
}
.lsm-p-2 {
  padding: 0.5em;
}
.lsm-p-0 {
  padding: 0;
}
.lsm-px-4 {
  padding-left: 1em;
  padding-right: 1em;
}
.lsm-py-2 {
  padding-top: 0.5em;
  padding-bottom: 0.5em;
}
.lsm-px-10 {
  padding-left: 2.5em;
  padding-right: 2.5em;
}
.lsm-py-0 {
  padding-top: 0;
  padding-bottom: 0;
}
.lsm-py-3 {
  padding-top: 0.75em;
  padding-bottom: 0.75em;
}
.lsm-px-2 {
  padding-left: 0.5em;
  padding-right: 0.5em;
}
.lsm-pt-4 {
  padding-top: 1em;
}
.lsm-pb-4 {
  padding-bottom: 1em;
}
.lsm-pb-2 {
  padding-bottom: 0.5em;
}
.lsm-text-left {
  text-align: left;
}
.lsm-text-center {
  text-align: center;
}
.lsm-font-segoe {
  font-family: Segoe UI, sans-serif;
}
.lsm-text-base {
  font-size: 1em;
  line-height: 1.5em;
}
.lsm-text-sm {
  font-size: 0.875em;
  line-height: 1.25em;
}
.lsm-font-light {
  font-weight: 300;
}
.lsm-leading-normal {
  line-height: 1.5;
}
.lsm-text-title-gray {
  color: #000533cc;
}
.lsm-text-dark-gray {
  --tw-text-opacity: 1;
  color: rgb(97 97 97 / var(--tw-text-opacity));
}
.lsm-text-gray-6 {
  --tw-text-opacity: 1;
  color: rgb(63 63 63 / var(--tw-text-opacity));
}
.lsm-text-gray-5 {
  --tw-text-opacity: 1;
  color: rgb(150 150 150 / var(--tw-text-opacity));
}
.lsm-text-black {
  --tw-text-opacity: 1;
  color: rgb(0 0 0 / var(--tw-text-opacity));
}
.lsm-text-gray-4 {
  --tw-text-opacity: 1;
  color: rgb(112 112 112 / var(--tw-text-opacity));
}
.lsm-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.lsm-text-gray {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity));
}
.lsm-text-error {
  color: #a80000b3;
}
.lsm-text-secondary {
  --tw-text-opacity: 1;
  color: rgb(0 5 51 / var(--tw-text-opacity));
}
.lsm-underline {
  -webkit-text-decoration-line: underline;
  text-decoration-line: underline;
}
.lsm-duration-200 {
  transition-duration: 0.2s;
}
.lsm-select-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1em;
  width: 100%;
  box-sizing: border-box;
}
.lsm-select-prompt {
  margin: 0;
  width: 100%;
  text-align: left;
}
.lsm-capitalize-and-size {
  font-weight: 700;
  font-size: 0.8em;
  margin-top: 1.5em;
  margin-bottom: 0.5em;
}
.lsm-text-spacing {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-align: left;
}
.lsm-input {
  height: 2.7em;
  width: 100%;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.lsm-select-label {
  margin-top: 1.5em;
  margin-bottom: 0.5em;
  text-align: left;
  width: 100%;
  box-sizing: border-box;
}
.lsm-interior-scroll {
  height: calc(100% - 10em);
}
.lsm-multiple-scroll {
  height: calc(100% - 4em);
}
.lsm-form-scroll {
  height: calc(100% - 8em);
  overflow-y: scroll;
}
.lsm-condition-shadow {
  background: rgba(0, 148, 255, 0.22);
  box-shadow: 1px 1px 4px #04134740;
  border-radius: 2px;
}
.hover\:lsm-border-gray-5:hover {
  --tw-border-opacity: 1;
  border-color: rgb(150 150 150 / var(--tw-border-opacity));
}
.hover\:lsm-bg-gray:hover {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}
.focus\:lsm-outline-0:focus {
  outline-width: 0px;
}
.focus\:lsm-outline-transparent:focus {
  outline-color: #0000;
}
.disabled\:lsm-cursor-auto:disabled {
  cursor: auto;
}
.disabled\:lsm-bg-gray:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(212 212 212 / var(--tw-bg-opacity));
}
.disabled\:lsm-bg-gray-light:disabled {
  --tw-bg-opacity: 1;
  background-color: rgb(250 250 250 / var(--tw-bg-opacity));
}
.disabled\:lsm-text-gray:disabled {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity));
}
.lsm-dark .dark\:lsm-border-gray-6 {
  --tw-border-opacity: 1;
  border-color: rgb(63 63 63 / var(--tw-border-opacity));
}
.lsm-dark .dark\:lsm-border-gray-2 {
  --tw-border-opacity: 1;
  border-color: rgb(245 245 245 / var(--tw-border-opacity));
}
.lsm-dark .dark\:lsm-border-gray-5 {
  --tw-border-opacity: 1;
  border-color: rgb(150 150 150 / var(--tw-border-opacity));
}
.lsm-dark .dark\:lsm-bg-gray-7 {
  --tw-bg-opacity: 1;
  background-color: rgb(17 17 17 / var(--tw-bg-opacity));
}
.lsm-dark .dark\:lsm-text-gray {
  --tw-text-opacity: 1;
  color: rgb(212 212 212 / var(--tw-text-opacity));
}
.lsm-dark .dark\:lsm-text-gray-3 {
  --tw-text-opacity: 1;
  color: rgb(136 136 136 / var(--tw-text-opacity));
}
.lsm-dark .dark\:lsm-text-gray-4 {
  --tw-text-opacity: 1;
  color: rgb(112 112 112 / var(--tw-text-opacity));
}
.lsm-dark .dark\:lsm-text-gray-2 {
  --tw-text-opacity: 1;
  color: rgb(245 245 245 / var(--tw-text-opacity));
}
.lsm-dark .dark\:lsm-text-white {
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
}
.lsm-dark .dark\:lsm-text-dark-error {
  color: #f32b2bb3;
}
.lsm-dark .dark\:hover\:lsm-border-gray-5:hover {
  --tw-border-opacity: 1;
  border-color: rgb(150 150 150 / var(--tw-border-opacity));
}
.lsm-dark .dark\:hover\:lsm-text-gray-7:hover {
  --tw-text-opacity: 1;
  color: rgb(38 38 38 / var(--tw-text-opacity));
}
@media (min-width: 768px) {
  .md\:lsm-w-11\/12 {
    width: 91.666667%;
  }
  .md\:lsm-bg-modal-overlay {
    background-color: #000000a6;
  }
  .md\:lsm-text-base {
    font-size: 1em;
    line-height: 1.5em;
  }
}
.lsm-top-modal-overlay {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 35;
}
.lsm-top-modal {
  font-size: 14px;
  height: 100vh;
  overflow-y: hidden;
  z-index: 36;
}
.lsm-error-display {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 25%;
}
.lsm-error-button {
  height: 3em;
  padding: 0 1em;
  margin-top: 1em;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  border: none;
  color: #fff;
  cursor: pointer;
}
.lsm-border-standard {
  border-width: 1px;
  border-style: solid;
}
@media (min-width: 768px) {
  .lsm-top-modal {
    font-size: 14px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 37.5em;
    max-height: 46em;
    height: calc(100% - 48px);
  }
  .lsm-input {
    height: 3em;
  }
  .lsm-text-spacing {
    margin-top: 1.5em;
    margin-bottom: 0.5em;
    text-align: left;
  }
  .lsm-condition-spacing {
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    text-align: left;
  }
}
.lsm-reusable-select-button {
  width: 100%;
  height: 3em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  border-width: 1px;
  border-style: solid;
}
.lsm-reusable-select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: 0.25em;
  z-index: 100;
  box-sizing: border-box;
}
.lsm-reusable-select-title {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  box-sizing: border-box;
}
.lsm-reusable-select-option-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.lsm-reusable-select-option {
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  border-style: solid;
  padding: 0.75em;
  margin-right: 1em;
  margin-top: 1em;
  cursor: pointer;
  transition-duration: 0.2s;
}
.lsm-header-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  border-radius: 0.25em 0.25em 0 0;
  box-sizing: border-box;
}
.lsm-header-text {
  text-transform: uppercase;
  font-size: 1.125em;
  line-height: 26px;
  letter-spacing: 0.1em;
}
.lsm-confirmation-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.lsm-confirmation-modal {
  max-width: 70%;
  height: auto;
  border-width: 1px;
  border-radius: 0.25em;
  z-index: 30;
  padding: 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lsm-token-select-button,
.lsm-token-clear-select-button {
  height: 2.5em;
  border-width: 1px;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}
.lsm-token-select-container {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 0.25em;
  top: 0;
  left: 0;
  z-index: 20;
}
.lsm-token-select-header {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 3.5em;
  box-sizing: border-box;
}
.lsm-top-tokens-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  margin: 0 auto 4em;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  box-sizing: border-box;
}
.lsm-top-token-chips {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  width: 100%;
  margin-top: 0;
}
.lsm-token-select-dropdown-container {
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  box-sizing: border-box;
}
.lsm-token-select-dropdown {
  margin-top: 0.4em;
}
.lsm-token-select__control {
  height: 2.7em;
  width: 100%;
  border-radius: 0.25em;
  border-width: 1px;
  border-style: solid;
}
.lsm-next-button {
  height: 3em;
  padding: 0 1.5em;
  display: flex;
  align-items: center;
  border-radius: 0.25em;
  border: none;
  cursor: pointer;
}
.lsm-lit-footer {
  display: flex;
  position: absolute;
  justify-content: space-between;
  bottom: 0;
  height: 4em;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
}
.lsm-back-button {
  height: 3em;
  padding: 0 1.5em;
  border-radius: 0.25em;
  display: flex;
  align-items: center;
  border: none;
  cursor: pointer;
}
.lsm-dropdown-menu {
  display: block;
  list-style-type: none;
  position: absolute;
  width: 100%;
  border-radius: 0.25em;
  border-style: solid;
  border-width: 1px;
  padding: 0;
  margin-top: 0;
}
.lsm-dropdown-item {
  width: calc(100% - 1.5em);
  margin: 0;
  padding: 0.75em;
  text-align: left;
}
.lsm-condition-organizer-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto 1em;
  width: calc(100% - 2em);
  padding-top: 1em;
  padding-bottom: 1em;
  border-radius: 0.25em;
  box-sizing: border-box;
}
.lsm-define-condition-button {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  padding: 1em;
  cursor: pointer;
}
.lsm-multiple-condition-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  border-radius: 0.25em;
  box-sizing: border-box;
}
.lsm-humanized-condition-text-container {
  display: flex;
  width: 100%;
  padding-left: 1em;
  box-sizing: border-box;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;
}
.lsm-delete-modal-container {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;
}
.lsm-delete-modal {
  max-width: 70%;
  height: auto;
  border-width: 1px;
  border-radius: 0.25em;
  z-index: 30;
  padding: 1.5em;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.lsm-review-conditions-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
}
.lsm-review-conditions-prompt {
  width: 100%;
  text-align: left;
  margin: 1em 0;
  padding: 0;
}
.lsm-review-scroll {
  height: calc(100% - 18em);
}
.lsm-review-condition-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 1em;
  border-radius: 0.25em;
  box-sizing: border-box;
}
.lsm-review-condition-button {
  display: flex;
  justify-content: center;
  border-style: solid;
  border-width: 1px;
  border-radius: 0.25em;
  padding-left: 1em;
  padding-right: 1em;
  cursor: pointer;
}
.lsm-humanized-condition-text-container {
  display: flex;
  width: 100%;
  padding-left: 1em;
  padding-right: 1em;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.lsm-humanized-condition-text {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  overflow-wrap: break-word;
  text-align: left;
  width: 100%;
}
@-webkit-keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fadein {
  0% {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.lsm-conditions-sent {
  display: flex;
  position: absolute;
  justify-content: center;
  align-items: center;
  bottom: 0;
  height: 7em;
  padding: 0 1em;
  width: 100%;
  box-sizing: border-box;
  -webkit-animation: fadein;
  animation: fadein;
  -webkit-animation-duration: 0.3s;
  animation-duration: 0.3s;
}
.lsm-conditions-sent-text {
  margin-left: 0.5em;
  text-align: center;
}
@-webkit-keyframes spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes spin {
  0% {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
.lsm-loader {
  position: relative;
  display: inline-block;
  width: 25px;
  height: 25px;
  vertical-align: middle;
}
.lsm-loader-quarter {
  border-radius: 50px;
  border: 3px solid #2c0c72;
}
.lsm-loader-quarter:after {
  content: "";
  position: absolute;
  top: -6px;
  left: -6px;
  bottom: -6px;
  right: -6px;
  border-radius: 50px;
  border: 6px solid transparent;
  border-top-color: #fff;
  -webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
}
